---
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import { getAllBookMetas, getAllChapters } from "@/libs/book";
import RootLayout from "@/layouts/RootLayout.astro";
import BookLayout from "@/layouts/BookLayout.astro";
import Markdownn from "@/components/Markdown.astro";

export const getStaticPaths = (async () => {
  const bookMetas = await getAllBookMetas();

  // クロージャーがPromiseを返す場合、flatMapは配列をフラットにできない
  const promises = bookMetas.map(async (bookMeta) => {
    const chapters = await getAllChapters(bookMeta.slug);
    const book = {
      ...bookMeta,
      chapters,
    };
    return chapters.map((chapter, index) => ({
      params: {
        book: book.slug,
        chapter: chapter.slug,
      },
      props: {
        book,
        chapter,
        chapterIndex: index,
      },
    }));
  });
  const awaited = await Promise.all(promises);

  return awaited.flat();
}) satisfies GetStaticPaths;

const { book, chapter, chapterIndex } = Astro.props;
---

<RootLayout title={chapter.title}>
  <script
    is:inline
    src="https://embed.zenn.studio/js/listen-embed-event.js"
    slot="head"></script>
  <BookLayout {...book}>
    <article class="mx-auto max-w-4xl p-5 sm:p-12">
      <header class="border-b pb-4">
        <div class="font-semibold text-gray-600">
          Chapter {(chapterIndex + 1).toString().padStart(2, "0")}
        </div>
        <h1 class="mt-2 text-3xl font-bold">{chapter.title}</h1>
      </header>

      <main class="mt-8 sm:mt-12">
        <Markdownn markdown={chapter.markdown} />
      </main>

      <footer
        class="flex flex-col justify-between gap-6 py-16 sm:flex-row-reverse"
      >
        <div class="w-full sm:max-w-64">
          {
            book.chapters.at(chapterIndex + 1) && (
              <a
                href={`/books/${book.slug}/${book.chapters.at(chapterIndex + 1)?.slug}`}
                class="flex h-full items-center justify-between gap-4 rounded-xl border p-4"
              >
                <div class="h-full">
                  <div class="text-sm text-gray-600">NEXT</div>
                  <div class="mt-2 font-semibold">
                    {book.chapters.at(chapterIndex + 1)?.title}
                  </div>
                </div>
                <Icon name="lucide:arrow-right" class="text-lg text-gray-600" />
              </a>
            )
          }
        </div>
        <div class="w-full sm:max-w-64">
          {
            chapterIndex != 0 && book.chapters.at(chapterIndex - 1) && (
              <a
                href={`/books/${book.slug}/${book.chapters.at(chapterIndex - 1)?.slug}`}
                class="flex h-full items-center gap-4 rounded-xl border p-4"
              >
                <Icon name="lucide:arrow-left" class="text-lg text-gray-600" />
                <div class="h-full">
                  <div class="text-sm text-gray-600">PREV</div>
                  <div class="mt-2 font-semibold">
                    {book.chapters.at(chapterIndex - 1)?.title}
                  </div>
                </div>
              </a>
            )
          }
        </div>
      </footer>
    </article>
  </BookLayout>
</RootLayout>
