---
import { Icon } from "astro-icon/components";
import type { BookMeta, Chapter } from "@/libs/book";

interface Props extends BookMeta {
  chapters: Chapter[];
}

const { slug, title, chapters } = Astro.props;
---

<script>
  const sidebar = document.getElementById("sidebar");
  const sidebarOverlay = document.getElementById("sidebar-overlay");
  const sidebarOpenButton = document.getElementById("sidebar-open-button");
  const sidebarCloseButton = document.getElementById("sidebar-close-button");

  function toggleSidebar() {
    sidebar?.classList.toggle("-translate-x-full");
    sidebarOverlay?.classList.toggle("hidden");
  }

  sidebarOpenButton?.addEventListener("click", () => {
    toggleSidebar();
  });
  sidebarCloseButton?.addEventListener("click", () => {
    toggleSidebar();
  });
  sidebarOverlay?.addEventListener("click", () => {
    toggleSidebar();
  });
</script>

<div class="min-h-screen xl:grid xl:grid-cols-[20%_auto]">
  <!-- トップバー -->
  <aside class="fixed top-0 z-10 w-full border-b bg-white xl:hidden">
    <div class="grid h-16 grid-cols-[1fr_auto_1fr] items-center gap-4 p-4">
      <button id="sidebar-open-button" type="button" class="hover:opacity-50">
        <Icon name="lucide:menu" class="text-2xl" />
      </button>
      <a
        href={`/books/${slug}`}
        class="w-full overflow-hidden text-ellipsis text-nowrap text-center text-gray-600"
        >{title}</a
      >
    </div>
  </aside>

  <!-- オーバーレイ -->
  <div
    id="sidebar-overlay"
    class="fixed inset-0 z-10 hidden bg-black opacity-50 xl:hidden"
  >
  </div>

  <!-- サイドバー -->
  <div class="relative">
    <aside
      id="sidebar"
      class="fixed top-0 z-20 h-full w-3/4 -translate-x-full transform bg-white duration-300 ease-out md:w-1/2 lg:w-1/3 xl:w-1/5 xl:-translate-x-0 xl:border-r"
    >
      <a href="/" class="flex h-16 items-center gap-2 border-b p-4">
        <Icon name="mdi:eye-off" class="text-xl" />
        <span class="text-xl font-bold">Preview</span>
      </a>
      <div class="px-4">
        <a href={`/books/${slug}`} class="mt-4 block font-bold">{title}</a>
        <ol class="mt-4">
          {
            chapters.map((chapter, index) => (
              <li class="pb-4 text-sm text-gray-600 hover:text-black">
                <a href={`/books/${slug}/${chapter.slug}`} class="flex gap-2">
                  <span class="font-semibold">
                    {(index + 1).toString().padStart(2, "0")}
                  </span>
                  <span>{chapter.title}</span>
                </a>
              </li>
            ))
          }
        </ol>
      </div>
    </aside>
  </div>

  <div class="pt-16 xl:pt-0">
    <slot />
  </div>
</div>
